<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h4 class="mb-3">Welcome, <%= @user.first_name %></h4>
      <p class="card-text">This is your dashboard.</p>
      <p class="card-text"><%= @user.apartment.street_address %></p>
      <p class="card-text"><%= @user.listings.count %></p>
      <% if @user.apartment.present? %>
        <%= link_to "Create Listing" , new_listing_path, class: "btn btn-primary" %>
      <% end %>
      <% if user_signed_in? %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, form: { data: { turbo: false } }, class: "btn btn-danger mt-3" %>
      <% end %>
    </div>
  </div>
</div>
